@font-face {
	font-family: 'Oswald';
	src: url('/typefaces/oswald/Oswald-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald';
	src: url('/typefaces/oswald/Oswald-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald';
	src: url('/typefaces/oswald/Oswald-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald';
	src: url('/typefaces/oswald/Oswald-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald';
	src: url('/typefaces/oswald/Oswald-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald';
	src: url('/typefaces/oswald/Oswald-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/typefaces/source-sans-pro/SourceSansPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/typefaces/source-sans-pro/SourceSansPro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/typefaces/source-sans-pro/SourceSansPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/typefaces/source-sans-pro/SourceSansPro-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/typefaces/source-sans-pro/SourceSansPro-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/typefaces/source-sans-pro/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/typefaces/source-sans-pro/SourceSansPro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/typefaces/source-sans-pro/SourceSansPro-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/typefaces/source-sans-pro/SourceSansPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/typefaces/source-sans-pro/SourceSansPro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/typefaces/source-sans-pro/SourceSansPro-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/typefaces/source-sans-pro/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}
